#main {
    background-color: rgba(158, 158, 158, 0.529);
    border-radius: .5%;
    margin: 40px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#main p{
    text-align: center;
}
#title {
    text-align: center;
    font-size: 40;
    padding-top: 40px;
}
#img-div{
    background-color: rgba(255, 255, 255, 0.905);
    margin-left: 20px;
    margin-right: 20px;
}
#image{
    padding: 0px 150px 15px 150px;
}
#img-caption{
    padding: 0px 0px 15px 0px;
    text-align: center;
}